*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.game-container{
    max-width: 600px;
    background-color: #ffff;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
}